 <h2 class="text-center">Wmploye</h2>
 <div class="mx-auto d-flex flex-wrap justify-content-center">

  <div class="card mt-4 col-2 mx-2">
    <!-- <img src="/assets/belgrade-img.jpg" alt=""> -->
    <div class="card-body">
      <h4>Explore cities</h4>
      <p class="card-text">Taka a time to explore your cities</p>
      <a routerLink="/city">Administrate cities</a>
    </div>
  </div>

  <!-- <div class="card mt-4 col-2 mx-2">
    <img src="/assets/belgrade-img.jpg" alt="">
    <div class="card-body">
      <h4>Explore manufacturers</h4>
      <p class="card-text">Taka a time to explore your manufacturers</p>
      <a routerLink="/manufacturer">Administrate manufacturers</a>
    </div>
  </div> -->

 </div>